@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>
<div>
    <h2>Olá<span class="cor_meio">,</span> seja muito bem<span class="cor_meio">-</span>vindo<span class="cor_meio">!</span></h2>
    <span><h3>Link para o meu <a href="https://github.com/R3TZgl">GitHub</a>.</h3>
    <img src="../imgs/foguete.png" id="foguete"/></span>
</div>