@page
@model IndexModel
@{
    ViewData["Title"] = "Web Future";
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.7.1/styles/a11y-dark.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.7.1/highlight.min.js"></script>


<div class="base">
    <h1>As Principais Linguagens de 2022</h1>
    <h3>Conheça algumas das linguagens que estão em alta nos ultimos anos.</h3>
    <p>Reconhece algum destes códigos abaixo?</p>
    <div class="linguagens">
    <code class="python" contentEditable="true">
        print("Hello World.")
    </code>
    <code class="javascript" contentEditable="true">
        console.log("Hello World.");
    </code>
    <code class="csharp" contentEditable="true">
        console.WriteLine("Hello World.");
    </code>
    </div>
    <p>
        Se sim, parabéns, você está dentre aqueles que mais estão sendo procurados pelo mercado de trabalho.
        Além de existir essa alta busca por pessoas que conheçam esta área
    </p>
    <p>
        E não é apenas no mercado de trabalho que a programação está envolvida, se você procurar ao seu redor, verá que ela já está me quase todo lugar.
    </p>
    <h3>Nos Jogos</h3>
    <div id="jogos">
        <img src="~/img/vs.png" id="zelda"/>
        <img src="~/img/engine.png" id="engine"/>
        <img src="~/img/forza.png" id="forza"/>
    </div>
    <h3>Nos eletrodomésticos</h3>
    <div id="eletro">
        <img src="~/img/arduino.jpg" id="arduino"/>
        <img src="~/img/placa.jpg" id="placa"/>
    </div>
</div>