* {
    padding: 0;
    margin: 0;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color: ghostwhite;
}

h1 {
    transition: 0.8s;
}

h1:hover {
    color: slateblue;
}

.cor_meio {
    color: #C78EFF;
}

a {
    color: #C78EFF;
}

a:hover {
    color: rgb(151, 252, 0);
    transition: 0.5s;
}
a:not(:hover) {
    transition: 0.7s;
}

#foguete {
    width: 2em;
    position: relative;
    animation: movimento 10s infinite;
}

.img-text {
    display: inline;
}

#foto {
    border-radius: 50em;
    width: 15em;
    margin: 1em;
    border: 0.2em solid;
    padding: 0.3em;
    padding-right: 0.3em;
    padding-left: 0.1em;   
}
#foto:hover {
    border-color: rgb(151, 252, 0);
    transition: 0.7s;
}   
#foto:not(:hover) {     
    animation: cor 3s;
}

.img-text {
    display: flex;
    margin: 2em;
    display: relative;
}

p {
    margin: 0.7em;
    font-size: 1.5em;
}

.textos {
    border: 0.2em solid;
    border-radius: 3em;
    padding: 0.1em;
    margin-right: 0;
}

@keyframes movimento {
    0% {transform: rotate(0deg)}
    25% {transform: rotate(45deg)}  
    50% {transform: rotate(0deg)}
    75% {transform: rotate(-45deg)}
    100% {transform: rotate(0deg)}
}

@keyframes cor {
    0% {border-color: rgb(151, 252, 0)}
    50% {border-color: #C78EFF}
    100% {border-color: black}
}
